/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom CSS style starts here */

/* Using a Perfect Fourth modular scale:
   https://www.modularscale.com/?18&px&1.25 */

html {
 background-color: #D3D3D3;    /*light gray */
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 1.125em; /* 18px / 16px = result */
 line-height: 1.25em; /* 22.5px / 18px = 1.25em */
 padding: 1.5625em; /* 28.125px / 18px = 1.5625em */
 text-rendering: optimizeLegibility; /* used as described in HDWWPT */
 -webkit-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 text-size-adjust: 100%;
}

h1{
  font-family: 'Merriweather', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  line-height: 1em; /* 35.156px / 35.156px = 1em */
}

p {
  padding-bottom: 1.25em; /* 22.5px / 18px = 1.25em */
}

/* Responsive media */

img {
  display: block;
  max-width: 100%;
}

.pro-picture{
  padding: 1.25em; /* 22.5px / 18px = 1.25em */
  margin-top: 1em; /* 18px / 18px = 1em */
  margin-bottom: 1em; /* 18px / 18px = 1em */
}

.pro-picture figcaption{
  padding-top: 0.64em; /* 11.52px / 18px = 0.64em */
  /* Use to not show the caption */
  position: absolute;
  left: -10000px;
}

.links{
  font-size: 1.25em; /* 22.5px / 18px = 1.25em */
  text-align: center;
  line-height: 1.25em; /* 22.5px / 18px = 1.25em */
}

ul{
  display: inline-block;
  list-style-type: disc;
  text-align: left;
}

.cover-page{
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  }

.navy-logo figcaption{
  padding-top: 0.64em; /* 11.52px / 18px = 0.64em */
  /* Use to not show the caption */
  position: absolute;
  left: -10000px;
}

.intro-header{
  border: solid;
  border-width: thick;
  border-color: #000000;
  padding: 1%;
  letter-spacing:0.20em;
  word-spacing:0.25em;
  color:#000000;
  font-size: 7.5vw;
  text-align: center;
  font-weight: 100;
  }

  .intro{
    max-width: 85vw;
    margin: auto;
    background-color: #fcfcfc;
    border-radius: 1vw;
  }

  .intro{
    display: flex;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .intro-content{
    flex: 1 1 auto ;
    max-width: 50vw;
    min-width: 40vw;
    box-sizing: border-box;
    padding: 3vw;
    margin-top: 1em
  }

  .interests{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "career hobbies education";
    grid-column-gap: 5vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }

  .interests p{
    padding: 1em
  }

  /*panel properties*/
  .box{
    background: #ffffff;
    text-align: center;
    border-radius: 1vw;
  }

  .info{
    padding: 1em;
    text-align: center;
  }
